<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link th:insert="~{head.html}">
</head>
<body>
<div class="container">
    <div th:insert="~{navbar.html}">
    </div>

    <div class="row">
        <div class="col-12 mx-auto">
            <div layout:fragment="productsContent">

            </div>
        </div>
    </div>
</div>
<footer class="text-center text-white fixed-bottom bg-primary mt-2 mb-2">
    <!-- Copyright -->
    <div class="text-center p-3 bg-primary">
        © 2022 Copyright:
        <a class="text-white" th:href="@{/}"><span th:text="#{site.name}"></span></a>
    </div>
    <!-- Copyright -->
</footer>
</body>
</html>