<nav class="navbar navbar-expand-lg mt-2 bg-light">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03"
                aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" th:href="@{'/'}" th:text="#{navbar.name}"></a>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{'/'}" th:text="#{navbar.about}"></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="?lng=kz">KAZ</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="?lng=en">ENG</a>
                </li><li class="nav-item">
                    <a class="nav-link" href="/addNews">ADD NEWS</a>
                </li>
                <!--                li class="nav-item">-->
                <!--                <a class="nav-link" th:href="@{'?lng=kz'}"><img src="/static/img/kz.png" alt=""></a>-->
                <!--                </li>-->
                <!--                <li class="nav-item">-->
                <!--                    <a class="nav-link" th:href="@{'?lng=en'}"><img src="/static/img/uk.png" alt=""></a>-->
                <!--                </li>-->
            </ul>
        </div>
    </div>
</nav>
<hr>

<nav class="navbar navbar-expand-sm bg-success navbar-dark">
    <div class="container-fluid ">
        <ul class="navbar-nav mx-auto">
            <li class="nav-item">
                <a class="nav-link active" href="">
                    ALL NEWS
                </a>
            </li>
            <li class="nav-item" th:each = "publication : ${allPublications}">
                <a class="nav-link active" th:href="@{'/'+${publication.id}}" th:text = "${publication.name}">
                </a>
            </li>
        </ul>
    </div>
</nav>